@charset "UTF-8";
/* CSS Document */

.btn{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:600;
	padding: 2px 1% 5px 1%;
	background:#119AD1;
	width:5em;
	height:1.5rem;
	text-align:center;
}

.btn:hover{
	opacity: 0.4;
	color:#E0E27E;
}

.btn-search{
	font-family: Gotham, "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:600;
	padding: 5px 1% 5px 1%;
	background:#62CBEB;
	width:3em;
	height:2rem;
}

.btn-search:hover{
	opacity: 0.4;
	color:#0F5D7E;
}