# Accessibility Testing Report

User testing was conducted by {your name} on {specific date} between the times of {start time} and {end time} with the following participants:

- {megan jessica}
- {caterina o'leary}
- {Jared Lebel}
- {kayla tonkiewicz}
- {Rebecca Doe}
- {Hasan Doe}

## Tasks

1. {Add Shoe On Home Page to Cart}
2. {Search for a "Shirt" on the search bar}
3. {go to shirts page in products}

---

## Individual Results & Observations

### {megan jessica}

- {She completed the task as expected…}
- {had no troubles reaching the task she found all buttons and search field requirements}
- etc.

### {caterina o'leary}

- {she completed the task as expected…}
- {no issues found except the image and button name for the shirt section were the same}
- etc.

### {Jared Lebel}

- {They completed the task as expected…}
- {They had trouble finding the search field, looking for a more common name than edit text}
- etc.

### {kayla tonkiewicz}

- {She completed the task as expected…}
- {They had trouble finding the search field, looking for a more common name than edit text}
- etc.

### {Rebecca Doe}

- {He completed the task as expected…}
- {no issues found}

### {Hasan Doe}

- {They completed the task as expected…}
- {They had troubles with the search bar and the un common name for it}
- etc.

---

## Trends

### Critical, Needs Fixing, Unable to Complete

- {All participants had the problem of finding the search bar properly, an alternate name will be made for it}
- etc.

### Serious, Causes Frustration, May Hinder Completion

- {no serious frustrations}
- etc.

### Minor, Annoying, Won’t Hinder Completion

- {the name of the image and the name of the shirt button are the same and are confusing clarifications will be made to the elements}
- etc.