</div>
	<ul class="nav-list  unit-s-1 {{include.nav-class}}">
		<li class="list-group-item-inline btn kilo"><a class="{% if page.url == '/' %}current{% endif %}" href="{{site.baseurl}}/">Home</a></li>
		<li class="list-group-item-inline btn kilo"><a class="{% if page.url == '/products/' %}current{% endif %}" href="{{site.baseurl}}/products/">Products</a></li>
		<li class="list-group-item-inline btn kilo"><a class="{% if page.url == '/about/' %}current{% endif %}" href="{{site.baseurl}}/about">About</a></li>
	</ul>
</div>