<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<title>Ecommerce Website</title>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
<link href="css/typography.css" rel="stylesheet">
<link href="css/promos.css" rel="stylesheet">
<link href="css/buttons.css" rel="stylesheet">
<link href="css/media-object.css" rel="stylesheet">
<link href="css/grid.css" rel="stylesheet">
<link href="css/product-list.css" rel="stylesheet">
<link href="css/list-group.css" rel="stylesheet">
<link href="css/forms.css" rel="stylesheet">
<link href="css/common.css" rel="stylesheet">
</head>
<body>




<div class="nav-bg">

	<a href="{{site.baseurl}}/" ><img class="logo" src="assets/logo.svg" alt="some_text"></a>
		<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="get" action="http://www.google.com">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	</div>
	
	<ul class="nav-list  unit-s-1">
		<li class="list-group-item-inline btn kilo"><a href="index.html">Home</a></li>
		<li class="list-group-item-inline btn kilo"><a href="products.html">Products</a></li>
		<li class="list-group-item-inline btn kilo"><a href="about.html">About</a></li>
		<li class="list-group-item-inline btn kilo"><a href="thank-you.html">Thank You</a></li>
	</ul>
</div>

{{content}}

</body>
</html>
