<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<meta name="ROBOTS" content="NOINDEX, NOFOLLOW" />
<title>{{page.title}} · Ecommerce Website</title>
<link href='http://fonts.googleapis.com/css?family=Raleway:400,500' rel='stylesheet' type='text/css'>
<link href="{{site.baseurl}}/css/typography.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/promos.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/buttons.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/media-object.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/grid.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/product-list.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/list-group.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/forms.css" rel="stylesheet">
<link href="{{site.baseurl}}/css/common.css" rel="stylesheet">
</head>
<body>




<div class="nav-bg">

	<a href="{{site.baseurl}}/" ><img class="logo" src="{{site.baseurl}}/assets/logo.svg" alt="some_text"></a>
		<!-- HTML for SEARCH BAR -->
	<div id="tfheader">
		<form id="tfnewsearch" method="get" action="{{site.baseurl}}/search/">
		        <input type="text" class="tftextinput" name="q" size="21" maxlength="120"><input type="submit" value="search" class="tfbutton">
		</form>
	<div class="tfclear"></div>
	
	{% include nav.html navclass='nav-top' %}
	
	{% if page.showbanner %}
	<div class="banner">
		<h2>{{page.bannertext}}</h2>
	</div>
{% endif %}
	
		{% if page.showbanner-about %}
	<div class="banner-about">
		<h2>{{page.bannertext}}</h2>
	</div>
{% endif %}

{{content}}
	
	
	<footer>
		<p>Copyright Greg Leblanc 2014 ©</p>
		{% include nav.html navclass='nav-bottom' %}
	</footer>
</body>
</html>
